<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @donor.name %>
</p>

<p>
  <b>Email:</b>
  <%= @donor.email %>
</p>

<p>
  <b>Permalink:</b>
  <%= @donor.permalink %>
</p>

<p>
  <b>Donation:</b>
  <%= @donor.donation %>
</p>

<p>
  <b>User:</b>
  <%= @donor.user %>
</p>


<%= link_to 'Edit', edit_donor_path(@donor) %> |
<%= link_to 'Back', donors_path %>
