<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @contribution.email %>
</p>

<p>
  <b>Guid:</b>
  <%= @contribution.guid %>
</p>

<p>
  <b>Donor:</b>
  <%= @contribution.donor %>
</p>


<%= link_to 'Edit', edit_contribution_path(@contribution) %> |
<%= link_to 'Back', contributions_path %>
